@charset "utf-8";
/* ================================== fireworks ================================== */
#fireworksWrap {

	.fireworksContent {
		margin-left: -293px;
		.infoWrap {
			ul {
				width: $fireworksInfoWidth;
				li {
					span {
						&:after {
							background-color: $fireworksInfoLine;
						}
					}
					i {
						background-color: $fireworksInfoNumBg;
					}
				}
			}
		}
		.btnView {
			top: 300px;
			right: -5px;
		}
	}
	.fireworksLight {
		top: 50%;
		left: 50%;
		width: 130%;
		height: 130%;
		background: url('../img/fireworks_light.png') no-repeat center center;
		background-size: cover;
	}
	.fireworksEdge {
		top: 50%;
		left: 50%;
		width: 120%;
		height: 120%;
		background: url('../img/fireworks_edge.png') no-repeat center center;
		background-size: cover;
	}
	.fireworksBg {
		top: 50%;
		left: 50%;
		width: 110%;
		height: 110%;
		background: url('../img/fireworks_bg.jpg') no-repeat center center;
		background-size: cover;
	}

}