@charset "UTF-8";
/**
 * Filename : christmas2018.css
 * Description : 2018 Christmas Fantasy web styles
 **/
/* ================================== base ================================== */
/* font */
@import url("http://fonts.googleapis.com/earlyaccess/notosanskr.css");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+KR:200,400&subset=korean");
/* 나눔스퀘어 웹폰트 */
@font-face {
  font-weight: 300;
  font-family: NanumSquare;
  src: url(../font/NanumSquareL.eot);
  src: url(../font/NanumSquareL.eot?#iefix) format("embedded-opentype"), url(../font/NanumSquareL.woff) format("woff"), url(../font/NanumSquareL.ttf) format("truetype"); }
@font-face {
  font-weight: 400;
  font-family: NanumSquare;
  src: url(../font/NanumSquareR.eot);
  src: url(../font/NanumSquareR.eot?#iefix) format("embedded-opentype"), url(../font/NanumSquareR.woff) format("woff"), url(../font/NanumSquareR.ttf) format("truetype"); }
@font-face {
  font-weight: 700;
  font-family: NanumSquare;
  src: url(../font/NanumSquareB.eot);
  src: url(../font/NanumSquareB.eot?#iefix) format("embedded-opentype"), url(../font/NanumSquareB.woff) format("woff"), url(../font/NanumSquareB.ttf) format("truetype"); }
@font-face {
  font-weight: 900;
  font-family: NanumSquare;
  src: url(../font/NanumSquareEB.eot);
  src: url(../font/NanumSquareEB.eot?#iefix) format("embedded-opentype"), url(../font/NanumSquareEB.woff) format("woff"), url(../font/NanumSquareEB.ttf) format("truetype"); }
/* base */
html, body, div, span, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, main, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  background: transparent;
  font-size: 100%; }

body {
  color: #333;
  font-family: "Noto Sans KR", "Malgun Gothic", Dotum, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: -0.05em; }

ul, ol {
  list-style-type: none; }

img {
  vertical-align: top; }

a {
  box-sizing: border-box;
  color: #333;
  text-decoration: none; }
  a:hover, a:active {
    text-decoration: none; }

button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0 none;
  background-color: transparent;
  vertical-align: middle;
  color: #333;
  font-family: "Noto Sans KR", "Malgun Gothic", Dotum, sans-serif;
  font-weight: 300;
  cursor: pointer;
  outline: none; }

figcaption {
  display: none; }

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

/* ================================== common ================================== */
html,
body {
  overflow-x: hidden; }

/* position */
.posRelative {
  position: relative;
  width: 100%;
  height: 100%; }

.posAbsolute {
  position: absolute;
  width: 100%;
  height: 100%; }

/* webzineWrap */
#webzineWrap {
  background-color: #000; }

/* header */
#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-width: 1000px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease; }
  #header .topWrap {
    position: relative;
    display: block;
    max-width: 1600px;
    min-width: 1000px;
    height: 87px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden; }
    #header .topWrap:after {
      content: '';
      display: table;
      clear: both; }
  #header h1 {
    position: absolute;
    top: 25px;
    left: 3.75%;
    z-index: 9999; }
  #header #menu {
    position: relative;
    width: 826px;
    margin: 0 auto;
    font-family: NanumSquare, "Malgun Gothic", Dotum, sans-serif; }
    #header #menu .depth1:after {
      content: '';
      display: table;
      clear: both; }
    #header #menu .depth1 > li {
      float: left; }
      #header #menu .depth1 > li > a {
        display: block;
        width: 100%;
        height: 87px;
        line-height: 87px;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        color: #d7dade; }
        #header #menu .depth1 > li > a:hover {
          color: #ffdf1d; }
        #header #menu .depth1 > li > a > span {
          padding: 6px 0; }
      #header #menu .depth1 > li.menu1 {
        width: 86px; }
      #header #menu .depth1 > li.menu2 {
        width: 198px; }
      #header #menu .depth1 > li.menu3 {
        width: 170px; }
      #header #menu .depth1 > li.menu4 {
        width: 232px; }
      #header #menu .depth1 > li.menu5 {
        width: 140px; }
    #header #menu .depth2 {
      margin-top: 2px; }
      #header #menu .depth2 > li > a {
        display: block;
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-size: 17px;
        font-weight: 400;
        text-align: center;
        color: #acb6c0; }
        #header #menu .depth2 > li > a:hover {
          color: #ffdf1d; }
    #header #menu #menuLine {
      position: absolute;
      left: 0;
      top: 59px;
      height: 2px;
      background-color: #e1e6ea;
      transition: left 0.3s ease;
      -webkit-transition: left 0.3s ease;
      -moz-transition: left 0.3s ease;
      -o-transition: left 0.3s ease;
      z-index: -1; }
  #header .bgmControl {
    position: absolute;
    top: 27px;
    right: 3.75%;
    z-index: 9999; }
    #header .bgmControl button {
      position: relative;
      width: 88px;
      height: 30px;
      background: url("../img/bgm_control.png") no-repeat center center;
      background-size: cover; }
      #header .bgmControl button .bgmEqualizer {
        position: absolute;
        top: 10px;
        right: 13px; }
        #header .bgmControl button .bgmEqualizer em {
          position: relative;
          display: block;
          width: 14px;
          height: 10px; }
          #header .bgmControl button .bgmEqualizer em i {
            position: absolute;
            bottom: 0;
            display: block;
            width: 2px;
            height: 10px;
            background-color: #666; }
            #header .bgmControl button .bgmEqualizer em i:nth-child(1) {
              left: 0; }
            #header .bgmControl button .bgmEqualizer em i:nth-child(2) {
              left: 4px; }
            #header .bgmControl button .bgmEqualizer em i:nth-child(3) {
              left: 8px; }
            #header .bgmControl button .bgmEqualizer em i:nth-child(4) {
              left: 12px; }
        #header .bgmControl button .bgmEqualizer.bgmOff {
          opacity: .4; }
        #header .bgmControl button .bgmEqualizer.bgmOn {
          display: none;
          opacity: 1; }

.animationWrap,
.particleWrap {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }

/* Section */
section {
  text-align: center; }

/* parallax */
.scene {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%; }

.layer {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: none; }
  .layer .objet {
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%); }

/* content */
.contentWrap {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  z-index: 2; }
  .contentWrap .contentInner {
    position: relative;
    text-align: center; }
    .contentWrap .contentInner dd {
      padding: 20px 0 17px;
      color: #dadad0;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.5; }
      .contentWrap .contentInner dd p {
        padding: 5px 0; }
      .contentWrap .contentInner dd img {
        vertical-align: middle;
        margin-top: -5px; }
    .contentWrap .contentInner p {
      position: relative; }
    .contentWrap .contentInner .infoWrap {
      padding-top: 21px;
      color: #eff5e5;
      font-family: "Noto Serif KR", sans-serif;
      font-weight: 200;
      font-size: 16px;
      letter-spacing: 0;
      background: url("../img/info_line.png") no-repeat center top; }
      .contentWrap .contentInner .infoWrap ul {
        width: 312px;
        margin: 0 auto; }
        .contentWrap .contentInner .infoWrap ul li {
          position: relative;
          padding: 2px 0;
          padding-left: 51px;
          text-align: left; }
          .contentWrap .contentInner .infoWrap ul li span {
            position: absolute;
            top: 2px;
            left: 0;
            display: block;
            color: #f2c200; }
            .contentWrap .contentInner .infoWrap ul li span:after {
              content: '';
              display: inline-block;
              width: 1px;
              height: 8px;
              margin-left: 10px;
              margin-bottom: 1px;
              background-color: #413525; }
          .contentWrap .contentInner .infoWrap ul li i {
            font-style: normal;
            display: inline-block;
            padding: 1px 8px 4px;
            line-height: 1.2;
            border-radius: 12px;
            background-color: #2b3017; }
    .contentWrap .contentInner .btnQuick {
      display: inline-block;
      width: 70px;
      height: 24px;
      margin-left: 4px;
      margin-top: -6px;
      vertical-align: middle;
      background: url("../img/btn_quick_link.png") no-repeat center center; }
    .contentWrap .contentInner .btnView {
      position: absolute;
      display: inline-block;
      width: 87px;
      height: 102px; }
      .contentWrap .contentInner .btnView.photoPop {
        background: url("../img/btn_photo_view.png") no-repeat center center; }

/* control dim */
.fpControlDim {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 411px;
  background: url("../img/fp_control_dim.png") no-repeat center bottom;
  background-size: cover; }

.fp-controlArrow.fp-prev {
  left: 3.75%;
  width: 45px;
  height: 77px;
  background: url("../img/fp_prev_bg.png") no-repeat left center;
  border-width: 0;
  z-index: 2; }
  .fp-controlArrow.fp-prev:before {
    content: '';
    display: block;
    height: 77px;
    margin-left: 45px; }
.fp-controlArrow.fp-next {
  right: 3.75%;
  width: 45px;
  height: 77px;
  background: url("../img/fp_next_bg.png") no-repeat right center;
  border-width: 0;
  z-index: 2; }
  .fp-controlArrow.fp-next:before {
    content: '';
    display: block;
    height: 77px; }

.fp-viewing-photospot-goldZone .fp-controlArrow.fp-prev {
  display: none; }
  .fp-viewing-photospot-goldZone .fp-controlArrow.fp-prev:before {
    width: 80px;
    background: url("../img/fp_text_umbrella.png") no-repeat left center; }
.fp-viewing-photospot-goldZone .fp-controlArrow.fp-next:before {
  width: 94px;
  margin-left: -94px;
  background: url("../img/fp_text_house_r.png") no-repeat left center; }

.fp-viewing-photospot-santaHouse .fp-controlArrow.fp-prev:before {
  width: 92px;
  background: url("../img/fp_text_zone_l.png") no-repeat left center; }
.fp-viewing-photospot-santaHouse .fp-controlArrow.fp-next:before {
  width: 64px;
  margin-left: -64px;
  background: url("../img/fp_text_tree.png") no-repeat left center; }

.fp-viewing-photospot-towerTree .fp-controlArrow.fp-prev:before {
  width: 94px;
  background: url("../img/fp_text_house_l.png") no-repeat left center; }
.fp-viewing-photospot-towerTree .fp-controlArrow.fp-next:before {
  width: 80px;
  margin-left: -80px;
  background: url("../img/fp_text_zoo.png") no-repeat left center; }

.fp-viewing-photospot-starlightZoo .fp-controlArrow.fp-prev:before {
  width: 64px;
  background: url("../img/fp_text_tree.png") no-repeat left center; }
.fp-viewing-photospot-starlightZoo .fp-controlArrow.fp-next:before {
  width: 80px;
  margin-left: -80px;
  background: url("../img/fp_text_umbrella.png") no-repeat left center; }

.fp-viewing-photospot-goldUmbrella .fp-controlArrow.fp-prev:before {
  width: 80px;
  background: url("../img/fp_text_zoo.png") no-repeat left center; }
.fp-viewing-photospot-goldUmbrella .fp-controlArrow.fp-next {
  display: none; }
  .fp-viewing-photospot-goldUmbrella .fp-controlArrow.fp-next:before {
    width: 92px;
    margin-left: -92px;
    background: url("../img/fp_text_zone_r.png") no-repeat left center; }

.fp-viewing-performance-xmasParade .fp-controlArrow.fp-prev {
  display: none; }
  .fp-viewing-performance-xmasParade .fp-controlArrow.fp-prev:before {
    width: 67px;
    background: url("../img/fp_text_party_l.png") no-repeat left center; }
.fp-viewing-performance-xmasParade .fp-controlArrow.fp-next:before {
  width: 110px;
  margin-left: -110px;
  background: url("../img/fp_text_wish_r.png") no-repeat left center; }

.fp-viewing-performance-xmasWish .fp-controlArrow.fp-prev:before {
  width: 116px;
  background: url("../img/fp_text_parade_l.png") no-repeat left center; }
.fp-viewing-performance-xmasWish .fp-controlArrow.fp-next:before {
  width: 67px;
  margin-left: -67px;
  background: url("../img/fp_text_party_r.png") no-repeat left center; }

.fp-viewing-performance-gardenParty .fp-controlArrow.fp-prev:before {
  width: 110px;
  background: url("../img/fp_text_wish_l.png") no-repeat left center; }
.fp-viewing-performance-gardenParty .fp-controlArrow.fp-next {
  display: none; }
  .fp-viewing-performance-gardenParty .fp-controlArrow.fp-next:before {
    width: 116px;
    margin-left: -116px;
    background: url("../img/fp_text_parade_r.png") no-repeat left center; }

.fp-slidesNav.bottom {
  bottom: 52px; }
.fp-slidesNav ul li {
  width: 65px;
  height: 34px;
  margin: auto;
  background: url("../img/fp_slidesnav_line.png") no-repeat center center; }
  .fp-slidesNav ul li:first-child {
    background-position: left center; }
  .fp-slidesNav ul li:last-child {
    background-position: right center; }
  .fp-slidesNav ul li a span {
    height: 14px;
    width: 14px;
    margin: -7px 0 0 -7px;
    background: url("../img/fp_slidesnav.png") no-repeat center center; }
  .fp-slidesNav ul li a.active span {
    height: 34px;
    width: 34px;
    margin: -17px 0 0 -17px;
    background: url("../img/fp_slidesnav_active.png") no-repeat center center; }
  .fp-slidesNav ul li:hover a span {
    height: 14px;
    width: 14px;
    margin: -7px 0 0 -7px;
    background: url("../img/fp_slidesnav.png") no-repeat center center; }
  .fp-slidesNav ul li:hover a.active span {
    height: 34px;
    width: 34px;
    margin: -17px 0 0 -17px;
    background: url("../img/fp_slidesnav_active.png") no-repeat center center; }

/* layer popop modal */
.modalOverlay {
  display: none;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background: #000;
  opacity: 0;
  z-index: 9998; }

.popupWrap {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 9999; }
  .popupWrap.popupPhoto {
    width: 767px;
    height: 411px;
    padding: 4px;
    background: url("../img/popup_photo_frame.gif") no-repeat center center; }
    .popupWrap.popupPhoto .photoSlide,
    .popupWrap.popupPhoto .photoSlide img {
      width: 100%;
      height: 100%; }
    .popupWrap.popupPhoto .popupClose {
      position: absolute;
      right: -41px;
      top: 0;
      display: block;
      width: 26px;
      height: 26px;
      background: url("../img/btn_photo_close.png") no-repeat center center; }

/**** slick-theme custom ****/
/** Arrows **/
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 78px;
  height: 78px;
  padding: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  z-index: 9; }

.slick-disabled {
  opacity: 0; }

/** Dot **/
.slick-dots {
  position: absolute;
  left: 50%;
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  z-index: 9; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      position: relative;
      display: block;
      cursor: pointer;
      color: transparent;
      font-size: 0;
      line-height: 0;
      border: 0;
      outline: none; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 50%;
        left: 50%;
        content: '';
        text-align: center;
        border-radius: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }

.photoSlide .slick-dots {
  bottom: -40px; }
  .photoSlide .slick-dots li {
    padding: 0 6px; }
    .photoSlide .slick-dots li button {
      width: 20px;
      height: 20px;
      padding: 5px;
      background: transparent; }
      .photoSlide .slick-dots li button:before {
        width: 12px;
        height: 12px;
        background: url("../img/popup_slick_dots.png") no-repeat center center;
        box-sizing: border-box; }
    .photoSlide .slick-dots li.slick-active button:before {
      background: url("../img/popup_slick_dots_active.png") no-repeat center center; }

@media screen and (min-width: 1600px) {
  .fp-controlArrow.fp-prev {
    left: 50%;
    margin-left: -740px; }
  .fp-controlArrow.fp-next {
    right: 50%;
    margin-right: -740px; } }
@media screen and (max-width: 1512px) {
  #header h1 {
    left: 50%;
    margin-left: -599px;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0); } }
@media screen and (max-width: 1298px) {
  #header .bgmControl {
    left: 50%;
    margin-left: 512px;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0); } }
/* ================================== main ================================== */
#mainWrap .mainTitle {
  top: 50%;
  left: 50%;
  width: 520px;
  height: 510px;
  margin-top: -135px;
  background: url("../img/main_title.png") no-repeat center center;
  background-size: cover; }
#mainWrap .mainScroll {
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: 155px;
  background: url("../img/main_scroll.png") no-repeat center center;
  background-size: cover; }
#mainWrap .mainLight {
  top: 50%;
  left: 50%;
  width: 130%;
  height: 130%;
  background: url("../img/main_light.png") no-repeat center center;
  background-size: cover; }
#mainWrap .mainEdge {
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  background: url("../img/main_edge.png") no-repeat center center;
  background-size: cover; }
#mainWrap .mainBg {
  top: 50%;
  left: 50%;
  width: 110%;
  height: 110%;
  background: url("../img/main_bg.jpg") no-repeat center center;
  background-size: cover; }

/* ================================== photospot ================================== */
#photospotWrap .photospot1Content {
  margin-left: 218px; }
  #photospotWrap .photospot1Content .infoWrap ul {
    width: 370px; }
    #photospotWrap .photospot1Content .infoWrap ul li span:after {
      background-color: #413525; }
    #photospotWrap .photospot1Content .infoWrap ul li i {
      background-color: #2b3017; }
  #photospotWrap .photospot1Content .btnView {
    top: 290px;
    right: -6px; }
#photospotWrap .photospot1Light {
  top: 50%;
  left: 50%;
  width: 130%;
  height: 130%;
  background: url("../img/photospot1_light.png") no-repeat center center;
  background-size: cover; }
#photospotWrap .photospot1Objet1 {
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  background: url("../img/photospot1_objet1.png") no-repeat center center;
  background-size: cover; }
#photospotWrap .photospot1Objet2 {
  top: 50%;
  left: 50%;
  width: 520px;
  height: 660px;
  margin-top: -60px;
  margin-left: -280px;
  background: url("../img/photospot1_objet2.png") no-repeat center center;
  background-size: cover; }
#photospotWrap .photospot1Bg {
  top: 50%;
  left: 50%;
  width: 110%;
  height: 110%;
  background: url("../img/photospot1_bg.jpg") no-repeat center center;
  background-size: cover; }
#photospotWrap .photospot2Content {
  margin-left: -260PX; }
  #photospotWrap .photospot2Content .infoWrap ul {
    width: 370px; }
    #photospotWrap .photospot2Content .infoWrap ul li span:after {
      background-color: #52371d; }
    #photospotWrap .photospot2Content .infoWrap ul li i {
      background-color: #341c0b; }
  #photospotWrap .photospot2Content .btnView {
    top: 286px;
    right: 35px; }
#photospotWrap .photospot2Light {
  top: 50%;
  left: 50%;
  width: 130%;
  height: 130%;
  background: url("../img/photospot2_light.png") no-repeat center center;
  background-size: cover; }
#photospotWrap .photospot2Edge {
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  background: url("../img/photospot2_edge.png") no-repeat center center;
  background-size: cover; }
#photospotWrap .photospot2Bg {
  top: 50%;
  left: 50%;
  width: 110%;
  height: 110%;
  background: url("../img/photospot2_bg.jpg") no-repeat center center;
  background-size: cover; }
#photospotWrap .photospot3Content {
  margin-left: 208px; }
  #photospotWrap .photospot3Content .infoWrap ul {
    width: 370px; }
    #photospotWrap .photospot3Content .infoWrap ul li span:after {
      background-color: #443827; }
    #photospotWrap .photospot3Content .infoWrap ul li i {
      background-color: #431028; }
  #photospotWrap .photospot3Content .btnView {
    top: 300px;
    right: 78px; }
#photospotWrap .photospot3Light {
  top: 50%;
  left: 50%;
  width: 130%;
  height: 130%;
  background: url("../img/photospot3_light.png") no-repeat center center;
  background-size: cover; }
#photospotWrap .photospot3Bg {
  top: 50%;
  left: 50%;
  width: 110%;
  height: 110%;
  background: url("../img/photospot3_bg.jpg") no-repeat center center;
  background-size: cover; }
#photospotWrap .photospot4Content {
  margin-left: -260PX; }
  #photospotWrap .photospot4Content .infoWrap ul {
    width: 355px; }
    #photospotWrap .photospot4Content .infoWrap ul li span:after {
      background-color: #2d4382; }
    #photospotWrap .photospot4Content .infoWrap ul li i {
      background-color: #020f21; }
  #photospotWrap .photospot4Content .btnView {
    top: 286px;
    right: 41px; }
#photospotWrap .photospot4Light {
  top: 50%;
  left: 50%;
  width: 130%;
  height: 130%;
  background: url("../img/photospot4_light.png") no-repeat center center;
  background-size: cover; }
#photospotWrap .photospot4Edge {
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  background: url("../img/photospot4_edge.png") no-repeat center center;
  background-size: cover; }
#photospotWrap .photospot4Bg {
  top: 50%;
  left: 50%;
  width: 110%;
  height: 110%;
  background: url("../img/photospot4_bg.jpg") no-repeat center center;
  background-size: cover; }
#photospotWrap .photospot5Content {
  top: 180px; }
  #photospotWrap .photospot5Content .infoWrap ul {
    width: 140px; }
    #photospotWrap .photospot5Content .infoWrap ul li span:after {
      background-color: #443827; }
    #photospotWrap .photospot5Content .infoWrap ul li i {
      background-color: #1a0d07; }
  #photospotWrap .photospot5Content .btnView {
    top: 298px;
    right: 66px; }
#photospotWrap .photospot5Light {
  top: 50%;
  left: 50%;
  width: 130%;
  height: 130%;
  background: url("../img/photospot5_light.png") no-repeat center center;
  background-size: cover; }
#photospotWrap .photospot5Bg {
  top: 50%;
  left: 50%;
  width: 110%;
  height: 110%;
  background: url("../img/photospot5_bg.jpg") no-repeat center center;
  background-size: cover; }

/* ================================== fireworks ================================== */
#fireworksWrap .fireworksContent {
  margin-left: -293px; }
  #fireworksWrap .fireworksContent .infoWrap ul {
    width: 370px; }
    #fireworksWrap .fireworksContent .infoWrap ul li span:after {
      background-color: #342517; }
    #fireworksWrap .fireworksContent .infoWrap ul li i {
      background-color: #5b1259; }
  #fireworksWrap .fireworksContent .btnView {
    top: 300px;
    right: -5px; }
#fireworksWrap .fireworksLight {
  top: 50%;
  left: 50%;
  width: 130%;
  height: 130%;
  background: url("../img/fireworks_light.png") no-repeat center center;
  background-size: cover; }
#fireworksWrap .fireworksEdge {
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  background: url("../img/fireworks_edge.png") no-repeat center center;
  background-size: cover; }
#fireworksWrap .fireworksBg {
  top: 50%;
  left: 50%;
  width: 110%;
  height: 110%;
  background: url("../img/fireworks_bg.jpg") no-repeat center center;
  background-size: cover; }

/* ================================== performance ================================== */
#performanceWrap .performance1Content {
  margin-left: 200px; }
  #performanceWrap .performance1Content .infoWrap ul {
    width: 370px; }
    #performanceWrap .performance1Content .infoWrap ul li span:after {
      background-color: #8a4f02; }
    #performanceWrap .performance1Content .infoWrap ul li i {
      background-color: #853415; }
  #performanceWrap .performance1Content .btnView {
    top: 300px;
    right: 70px; }
#performanceWrap .performance1Light {
  top: 50%;
  left: 50%;
  width: 130%;
  height: 130%;
  background: url("../img/performance1_light.png") no-repeat center center;
  background-size: cover; }
#performanceWrap .performance1Objet1 {
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  background: url("../img/performance1_objet1.png") no-repeat center center;
  background-size: cover; }
#performanceWrap .performance1Objet2 {
  top: 50%;
  left: 50%;
  width: 365px;
  height: 230px;
  margin-top: -230px;
  margin-left: -617px;
  background: url("../img/performance1_objet2.png") no-repeat center center;
  background-size: cover; }
#performanceWrap .performance1Bg {
  top: 50%;
  left: 50%;
  width: 110%;
  height: 110%;
  background: url("../img/performance1_bg.jpg") no-repeat center center;
  background-size: cover; }
#performanceWrap .performance2Content {
  margin-left: -285px; }
  #performanceWrap .performance2Content .infoWrap ul {
    width: 300px; }
    #performanceWrap .performance2Content .infoWrap ul li span:after {
      background-color: #342517; }
    #performanceWrap .performance2Content .infoWrap ul li i {
      background-color: #511010; }
  #performanceWrap .performance2Content .btnView {
    top: 275px;
    right: 35px; }
#performanceWrap .performance2Light {
  top: 50%;
  left: 50%;
  width: 130%;
  height: 130%;
  background: url("../img/performance2_light.png") no-repeat center center;
  background-size: cover; }
#performanceWrap .performance2Objet1 {
  top: 50%;
  left: 50%;
  width: 800px;
  height: 900px;
  margin-top: -60px;
  margin-left: 248px;
  background: url("../img/performance2_objet1.png") no-repeat center center;
  background-size: cover; }
#performanceWrap .performance2Edge {
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  background: url("../img/performance2_edge.png") no-repeat center center;
  background-size: cover; }
#performanceWrap .performance2Bg {
  top: 50%;
  left: 50%;
  width: 110%;
  height: 110%;
  background: url("../img/performance2_bg.jpg") no-repeat center center;
  background-size: cover; }
#performanceWrap .performance3Content {
  margin-left: 260px; }
  #performanceWrap .performance3Content .infoWrap ul {
    width: 315px; }
    #performanceWrap .performance3Content .infoWrap ul li span:after {
      background-color: #8a4f02; }
    #performanceWrap .performance3Content .infoWrap ul li i {
      background-color: #853415; }
  #performanceWrap .performance3Content .btnView {
    top: 281px;
    right: -11px; }
#performanceWrap .performance3Light {
  top: 50%;
  left: 50%;
  width: 130%;
  height: 130%;
  background: url("../img/performance3_light.png") no-repeat center center;
  background-size: cover; }
#performanceWrap .performance3Objet1 {
  top: auto;
  left: 50%;
  bottom: -37px;
  width: 1180px;
  height: 760px;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  margin-left: -216px;
  background: url("../img/performance3_objet1.png") no-repeat center center;
  background-size: cover; }
#performanceWrap .performance3Bg {
  top: 50%;
  left: 50%;
  width: 110%;
  height: 110%;
  background: url("../img/performance3_bg.jpg") no-repeat center center;
  background-size: cover; }

@media screen and (min-width: 1600px) {
  #performanceWrap .performance1Objet2 {
    left: 0;
    margin-left: -60px;
    transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%); } }
/* ================================== product ================================== */
#productWrap .productContent .btnView {
  top: 300px;
  right: -5px; }
#productWrap .productList {
  margin-top: 24px;
  width: 814px; }
  #productWrap .productList:after {
    content: '';
    display: table;
    clear: both; }
  #productWrap .productList li {
    float: left;
    width: 238px;
    margin-left: 50px; }
    #productWrap .productList li:first-child {
      margin-left: 0; }
    #productWrap .productList li.item1 {
      padding-top: 34px; }
      #productWrap .productList li.item1 img {
        margin: 0 -8px -11px -80px; }
    #productWrap .productList li.item2 img {
      margin: -16px 0 -22px -76px; }
    #productWrap .productList li.item3 {
      padding-top: 34px; }
      #productWrap .productList li.item3 img {
        margin: -13px -13px 0 -32px; }
#productWrap .productLight {
  top: 50%;
  left: 50%;
  width: 130%;
  height: 130%;
  background: url("../img/product_light.png") no-repeat center center;
  background-size: cover; }
#productWrap .productEdge {
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  background: url("../img/product_edge.png") no-repeat center center;
  background-size: cover; }
#productWrap .productBg {
  top: 50%;
  left: 50%;
  width: 110%;
  height: 110%;
  background: url("../img/product_bg.jpg") no-repeat center center;
  background-size: cover; }
#productWrap .productBtn {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: 320px;
  padding-top: 190px;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  background: url("../img/btn_shop_line.png") no-repeat center top; }
  #productWrap .productBtn a {
    display: block;
    width: 131px;
    height: 151px;
    background: url("../img/btn_shop_link.png") no-repeat center center; }

/*# sourceMappingURL=christmas2018.css.map */
