@charset "utf-8";
/* ================================== common ================================== */

html, 
body {
	background: #000;
}

.posRelative {
	position: relative;
	width: 100%;
	height: auto;
}
.posAbsolute {
	position: absolute;
	width: 100%;
	height: 100%;
}
figcaption {
	display: none;
}

/* webzineWrap */
#webzineWrap {
	position: relative; 
	min-width: 320px;
}

/* header */
header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	min-width: 320px;
	padding-bottom: get-per(130px);
	background: url('../img/bg_header.jpg') no-repeat center top;
	background-size: cover;
	z-index: 99;
	@include transition(all, 0.3s, ease);
	@include clearfix;
	a {
		display: block;
	}
	h1 {
		float: left;
		width: get-per(400px);
	}
	.gnbOpen {
		float: right;
		width: get-per(147px);
	}
	.posRelative {
		height: 100%;
	}
}

/* nav */
nav {
	position: fixed;
	top: 0;
	right: -100%;
	width: 100%;
	height: 100%;
	background: url('../img/bg_nav.jpg') no-repeat center top;
	background-size: cover;
	z-index: 999;
	.gnbClose {
		position: absolute;
		right: 0;
		top: 0;
		width: get-per(147px);
		z-index: 9999;
	}
	.isActive {
		display: block;
	}
	.nav {
		margin-top: get-per(150px);
		li {
			text-align: center;
		}
		img {
			width: auto;
			max-width: 100%;
		}
	}
}

/* Section */
section {
	position: relative;
  width: 100%;
	min-width: 320px;
	.contentWrap {
		position: absolute;
		width: 100%;
		height: 100%;
		display: block;
		color: #fff;
	}
	h1 {
		position: relative;
		margin-top: get-per(140px);
		span {
			position: absolute;
			left: 0;
		}
	}
	&#main {
		padding-bottom: get-per($bgHeightMain);
		background: url('../img/bg_main.jpg') no-repeat center top;
		background-size: cover;
		h1 {
			margin-top: get-per(130px);
		}
	}
	&#halloweenZone {
		padding-bottom: get-per($bgHeightHalloweenZone);
		background: url('../img/bg_halloweenzone.jpg') no-repeat center top;
		background-size: cover;
	}
	&#horrorRide {
		padding-bottom: get-per($bgHeightHorrorRide);
		background: url('../img/bg_horrorride.jpg') no-repeat center top;
		background-size: cover;
	}
	&#entertainment {
		padding-bottom: get-per($bgHeightEntertainment);
		background: url('../img/bg_entertainment.jpg') no-repeat center top;
		background-size: cover;
	}
	&#costumePlay {
		padding-bottom: get-per($bgHeightCostumePlay);
		background: url('../img/bg_costumeplay.jpg') no-repeat center top;
		background-size: cover;
	}
	&#halloweenGood {
		padding-bottom: get-per($bgHeightHalloweenGood);
		background: url('../img/bg_halloweengood.jpg') no-repeat center top;
		background-size: cover;
	}
	&#infomation {
		padding-bottom: get-per($bgHeightInfomation);
		background: url('../img/bg_infomation.jpg') no-repeat center top;
		background-size: cover;
	}
}

/* layer popop modal */
.modalOverlay {
	display: none;
	@include posFixedFull;
	background: #000;
	opacity: 0;
	z-index: 99998;
}
.popupWrap {
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	width: 100%;
	@include translate(-50%, -50%);
	opacity: 0;
	z-index: 99999;
	&.popupPhoto {
		.popupClose {
			@include posAbsoluteRT(get-per(40px), -70px, 66px, 66px);
			background: url('../img/btn_photo_close.png') no-repeat center center;
			background-size: cover;
		}
	}
}