@charset "utf-8";

$fontFamily: "Noto Sans KR", "Malgun Gothic", Dotum, sans-serif;

$bgWidth: 720px;
$bgHeightMain: 2033px;
$bgHeightHalloweenZone: 3058px;
$bgHeightHorrorRide: 4854px;
$bgHeightEntertainment: 2021px;
$bgHeightCostumePlay: 1678px;
$bgHeightHalloweenGood: 1352px;
$bgHeightInfomation: 6089px;