/**
 * Filename : halloween2018.css
 * Description : 2018 Halloween Festival ( Blood City 2 : Zombie Carnival ) mobile styles
 **/
/* ================================== base ================================== */
/* font */
@import url("http://fonts.googleapis.com/earlyaccess/notosanskr.css");
/* base */
html, body, div, span, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, main, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  background: transparent;
  font-size: 100%; }

body {
  color: #333;
  font-family: "Noto Sans KR", "Malgun Gothic", Dotum, sans-serif;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: -0.05em; }

ul, ol {
  list-style-type: none; }

img {
  width: 100%;
  height: auto;
  vertical-align: top; }

a {
  box-sizing: border-box;
  color: #333;
  text-decoration: none; }
  a:hover, a:active {
    text-decoration: none; }

button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0 none;
  background-color: transparent;
  vertical-align: middle;
  color: #333;
  font-family: "Noto Sans KR", "Malgun Gothic", Dotum, sans-serif;
  font-weight: 300;
  cursor: pointer;
  outline: none; }

figcaption {
  display: none; }

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

/* ================================== common ================================== */
html,
body {
  background: #000; }

.posRelative {
  position: relative;
  width: 100%;
  height: auto; }

.posAbsolute {
  position: absolute;
  width: 100%;
  height: 100%; }

figcaption {
  display: none; }

/* webzineWrap */
#webzineWrap {
  position: relative;
  min-width: 320px; }

/* header */
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-width: 320px;
  padding-bottom: 18.0555555556%;
  background: url("../img/bg_header.jpg") no-repeat center top;
  background-size: cover;
  z-index: 99;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease; }
  header:after {
    content: '';
    display: table;
    clear: both; }
  header a {
    display: block; }
  header h1 {
    float: left;
    width: 55.5555555556%; }
  header .gnbOpen {
    float: right;
    width: 20.4166666667%; }
  header .posRelative {
    height: 100%; }

/* nav */
nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: url("../img/bg_nav.jpg") no-repeat center top;
  background-size: cover;
  z-index: 999; }
  nav .gnbClose {
    position: absolute;
    right: 0;
    top: 0;
    width: 20.4166666667%;
    z-index: 9999; }
  nav .isActive {
    display: block; }
  nav .nav {
    margin-top: 20.8333333333%; }
    nav .nav li {
      text-align: center; }
    nav .nav img {
      width: auto;
      max-width: 100%; }

/* Section */
section {
  position: relative;
  width: 100%;
  min-width: 320px; }
  section .contentWrap {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    color: #fff; }
  section h1 {
    position: relative;
    margin-top: 19.4444444444%; }
    section h1 span {
      position: absolute;
      left: 0; }
  section#main {
    padding-bottom: 282.3611111111%;
    background: url("../img/bg_main.jpg") no-repeat center top;
    background-size: cover; }
    section#main h1 {
      margin-top: 18.0555555556%; }
  section#halloweenZone {
    padding-bottom: 424.7222222222%;
    background: url("../img/bg_halloweenzone.jpg") no-repeat center top;
    background-size: cover; }
  section#horrorRide {
    padding-bottom: 674.1666666667%;
    background: url("../img/bg_horrorride.jpg") no-repeat center top;
    background-size: cover; }
  section#entertainment {
    padding-bottom: 280.6944444444%;
    background: url("../img/bg_entertainment.jpg") no-repeat center top;
    background-size: cover; }
  section#costumePlay {
    padding-bottom: 233.0555555556%;
    background: url("../img/bg_costumeplay.jpg") no-repeat center top;
    background-size: cover; }
  section#halloweenGood {
    padding-bottom: 187.7777777778%;
    background: url("../img/bg_halloweengood.jpg") no-repeat center top;
    background-size: cover; }
  section#infomation {
    padding-bottom: 845.6944444444%;
    background: url("../img/bg_infomation.jpg") no-repeat center top;
    background-size: cover; }

/* layer popop modal */
.modalOverlay {
  display: none;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background: #000;
  opacity: 0;
  z-index: 99998; }

.popupWrap {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 99999; }
  .popupWrap.popupPhoto .popupClose {
    position: absolute;
    right: 5.5555555556%;
    top: -70px;
    display: block;
    width: 66px;
    height: 66px;
    background: url("../img/btn_photo_close.png") no-repeat center center;
    background-size: cover; }

/* ================================== content ================================== */
.popBtnWrap button {
  display: inline;
  width: 41.6666666667%; }
.popBtnWrap.alL {
  text-align: left;
  padding-left: 5.5555555556%; }
.popBtnWrap.alR {
  text-align: right;
  padding-right: 5.5555555556%; }
.popBtnWrap.alC {
  text-align: center; }

.conSlogan {
  margin-top: 6.6666666667%; }

.conAttention {
  margin-top: 2.7777777778%; }

.conSubtitle {
  margin-top: 16.6666666667%; }

.conBox {
  margin-top: 5.5555555556%; }

.videoWrap {
  position: absolute;
  top: 37.5%;
  left: 50%;
  display: block;
  width: 100%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  z-index: 10; }
  .videoWrap .videoFrame {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5.5555555556%;
    background: url("../img/bg_video_frame.png") no-repeat center center;
    background-size: cover; }
    .videoWrap .videoFrame .vfHand {
      position: absolute;
      top: 0;
      left: 0;
      width: 25%;
      z-index: 15; }
  .videoWrap .youtubeWrap {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    /* 16:9 */
    background: #000; }
    .videoWrap .youtubeWrap iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 11; }
    .videoWrap .youtubeWrap .youtubeLink {
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      background: url("../img/bg_youtube_link.jpg") no-repeat left center;
      z-index: 10; }

#halloweenZone .zoneList {
  margin-top: 5.5555555556%; }
  #halloweenZone .zoneList:after {
    content: '';
    display: table;
    clear: both; }
  #halloweenZone .zoneList li {
    float: left;
    width: 50%;
    padding-top: 11.1111111111%; }
    #halloweenZone .zoneList li .popBtnWrap {
      text-align: left;
      padding-left: 11.1111111111%; }
      #halloweenZone .zoneList li .popBtnWrap button {
        width: 88.8888888889%; }
    #halloweenZone .zoneList li:nth-child(even) .popBtnWrap {
      padding-left: 5.5555555556%; }

#horrorRide .rideTexpress {
  margin-top: 2.7777777778%; }
#horrorRide .rideAmazon {
  margin-top: 6.9444444444%; }
#horrorRide .rideMaze {
  margin-top: 13.8888888889%; }
#horrorRide .rideSafari {
  margin-top: 13.8888888889%; }

#entertainment .entertainSlideWrap {
  margin-top: 5.1388888889%; }
#entertainment .entertainSlide .slideItem {
  position: relative; }
  #entertainment .entertainSlide .slideItem .popBtnWrap {
    position: absolute;
    left: 0;
    width: 100%;
    padding-left: 13.0555555556%;
    z-index: 9; }
  #entertainment .entertainSlide .slideItem.entCrazy .popBtnWrap {
    bottom: 30.7630522088%; }
  #entertainment .entertainSlide .slideItem.entDevils .popBtnWrap {
    bottom: 28.1124497992%; }
  #entertainment .entertainSlide .slideItem.entGiant .popBtnWrap {
    bottom: 31.9678714859%; }

#costumePlay .cosplayMakeup {
  margin-top: 2.7777777778%; }
#costumePlay h1 {
  margin-top: 15.2777777778%; }

#infomation .infoBanner {
  margin-top: 2.7777777778%; }

/**** slick-theme custom ****/
/** Arrows **/
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  left: 50%;
  bottom: -51px;
  display: block;
  width: 54px;
  height: 54px;
  padding: 0;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  z-index: 9; }

.slick-disabled {
  opacity: 0; }

/* entertainSlide custom */
.entertainSlide .slick-prev {
  margin-left: -73px;
  background: url(../img/enter_slick_prev.png) no-repeat 50% 50%;
  background-size: cover; }

.entertainSlide .slick-next {
  margin-left: 73px;
  background: url(../img/enter_slick_next.png) no-repeat 50% 50%;
  background-size: cover; }

/** Dot **/
.slick-dots {
  position: absolute;
  left: 50%;
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  z-index: 9; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      position: relative;
      display: block;
      cursor: pointer;
      color: transparent;
      font-size: 0;
      line-height: 0;
      border: 0;
      outline: none; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 50%;
        left: 50%;
        content: '';
        text-align: center;
        border-radius: 0;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%); }

/* photoSlide custom */
.photoSlide .slick-dots {
  bottom: -35px; }
  .photoSlide .slick-dots li button {
    width: 30px;
    height: 30px;
    margin: 0 3px;
    background: transparent; }
    .photoSlide .slick-dots li button:before {
      width: 30px;
      height: 30px;
      background: url("../img/photo_slick_dots.png") no-repeat 50% 50%;
      background-size: cover;
      box-sizing: border-box; }
  .photoSlide .slick-dots li.slick-active button:before {
    background: url("../img/photo_slick_dots_active.png") no-repeat 50% 50%;
    background-size: cover; }

/* entertainSlide custom */
.entertainSlide .slick-dots {
  bottom: -33px; }
  .entertainSlide .slick-dots li button {
    width: 33px;
    height: 18px;
    margin: 0 -3px;
    background: transparent; }
    .entertainSlide .slick-dots li button:before {
      width: 32px;
      height: 18px;
      background: url("../img/enter_slick_dots.png") no-repeat 50% 50%;
      background-size: cover;
      box-sizing: border-box; }
  .entertainSlide .slick-dots li.slick-active button:before {
    background: url("../img/enter_slick_dots_active.png") no-repeat 50% 50%;
    background-size: cover; }

/*# sourceMappingURL=halloween2018.css.map */
