@charset "utf-8";

$fontFamily: "Noto Sans KR", "Malgun Gothic", Dotum, sans-serif;

$viewportWidth: 720px;
$viewportHeight: 1280px;
// $bgHeightMain: 2033px;
// $bgHeightHalloweenZone: 3058px;
// $bgHeightHorrorRide: 4854px;
// $bgHeightEntertainment: 2021px;
// $bgHeightCostumePlay: 1678px;
// $bgHeightHalloweenGood: 1352px;
// $bgHeightInfomation: 6089px;





// // GNB
// $menu1Width: 101px;
// $menu2Width: 148px;
// $menu3Width: 175px;
// $menu4Width: 178px;
// $menu5Width: 156px;
// $menuTotalWidth: $menu1Width+$menu2Width+$menu3Width+$menu4Width+$menu5Width;

// // fp-controlArrow
// $fpTextZoneWidth: 118px;
// $fpTextHouseWidth: 79px;
// $fpTextTreeWidth: 64px;
// $fpTextZooWidth: 80px;
// $fpTextUmbrellaWidth: 80px;
// $fpTextParadeWidth: 116px;
// $fpTextWishWidth: 109px;
// $fpTextPartyWidth: 68px;

// // product list
// $itemWidth: 238px;
// $itemNumber: 3;
// $itemGap: 50px;
// $itemTotalWidth: ($itemWidth*$itemNumber) + ($itemGap*($itemNumber - 1));