@charset "utf-8";
/* ================================== costumePlay ================================== */
#costumePlay {
	.contentWrap {
		h1 {
			padding: 63px 0 29px;
		}
	}
	.makeupDescWrap {
		@include posAbsoluteLT(50%, 39px, 320px, auto);
		margin-left: -292px;
		@include translate(-50%, 0);
		z-index: 9;
		button {
			margin-top: 4px;
		}
	} 
	.makeupWrap {
		position: relative;
		height: 430px;
		margin-bottom: 100px;
		background: url('../img/cosplay_makeup.png') no-repeat center bottom;
		.makeupSlogan {
			@include posAbsoluteLT(50%, 80px, 259px, 79px);
			margin-left: 37px;
			@include translate(-50%, 0);
			background: url('../img/cosplay_makeup_slogan.png') no-repeat left top;
		}
	}
	.cosplayListWrap {
		position: relative;
		ul {
			width: 945px;
			margin: 0 auto;
			@include clearfix;
			li {
				float: left;
				width: 271px;
				margin: 32px 22px 0;
				padding-bottom: 5px;
				text-align: center;
				color: #acacac;
				font-size: 18px;
				line-height: 1.3;
				.cosplayPhoto {
					margin-bottom: 12px;
				}
				.price {
					margin-top: 1px;
					color: #eb7f28;
					font-weight: 400;
				}
			}
		}
		.pfHandLeft {
			@include posAbsoluteLT(50%, 22px, 48px, 92px);
			margin-left: -450px;
			@include translate(-50%, 0);
			background: url('../img/pf_hand_left.png') no-repeat left top;
			z-index: 1;
		}
		.pfHandRight {
			@include posAbsoluteLB(50%, 51px, 48px, 92px);
			margin-left: 449px;
			@include translate(-50%, 0);
			background: url('../img/pf_hand_right.png') no-repeat left top;
			z-index: 1;
		}
	}
}
#costumePlayPopup2 {
	.guideBox {
		height: 262px;
	}
}