@charset "utf-8";
/* ================================== entertainment ================================== */
#entertainment {
	.entertainSlideWrap {
		position: absolute;
		left: 50%;
		width: $entertainSlideWidth;
		height: $entertainSlideHeight;
		margin-top: 67px;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		z-index: 9;
		.cfTop {
			@include VideoFrame(-17px, 12px, auto, 12px, auto, 29px);
			background: url('../img/cf_top.png') no-repeat center top;
			background-size: 100% 29px;
			&:before {
				content: '';
				@include VideoFrame(0, auto, auto, -29px, 29px, 29px);
				background: url('../img/cf_top_left.png') no-repeat left top;
			}
			&:after {
				content: '';
				@include VideoFrame(0, -29px, auto, auto, 29px, 29px);
				background: url('../img/cf_top_right.png') no-repeat right top;
			}
		}
		.cfRight {
			@include VideoFrame(12px, -17px, 12px, auto, 29px, auto);
			background: url('../img/cf_right.png') no-repeat right center;
			background-size: 29px 100%;
		}
		.cfBottom {
			@include VideoFrame(auto, 12px, -17px, 12px, auto, 29px);
			background: url('../img/cf_bottom.png') no-repeat center bottom;
			background-size: 100% 29px;
			&:before {
				content: '';
				@include VideoFrame(auto, auto, 0, -29px, 29px, 29px);
				background: url('../img/cf_bottom_left.png') no-repeat left bottom;
			}
			&:after {
				content: '';
				@include VideoFrame(auto, -29px, 0, auto, 29px, 29px);
				background: url('../img/cf_bottom_right.png') no-repeat right bottom;
			}
		}
		.cfLeft {
			@include VideoFrame(12px, auto, 12px, -17px, 29px, auto);
			background: url('../img/cf_left.png') no-repeat left center;
			background-size: 29px 100%;
		}
	}
	.entertainSlide {
		width: $entertainSlideWidth;
		height: $entertainSlideHeight;
		.slideItem {
			position: relative;
			width: $entertainSlideWidth;
			height: $entertainSlideHeight;
		}
	}
	.entCrazy {
		background: url('../img/bg_entertain_crazy.jpg') no-repeat center center;
		.entSlogan {
			@include posAbsoluteRT(33px, 28px, 293px, 79px);
			background: url('../img/entertain_crazy_slogan.png') no-repeat left top;
		}
		.entertainDescWrap {
			.attention {
				margin-top: 80px;
			}
		}
	}
	.entDevils {
		background: url('../img/bg_entertain_devils.jpg') no-repeat center center;
		.entSlogan {
			@include posAbsoluteRT(24px, 28px, 313px, 103px);
			background: url('../img/entertain_devils_slogan.png') no-repeat left top;
		}
	}
	.entGiant {
		background: url('../img/bg_entertain_giant.jpg') no-repeat center center;
		.entSlogan {
			@include posAbsoluteRT(24px, 28px, 283px, 79px);
			background: url('../img/entertain_giant_slogan.png') no-repeat left top;
		}
		.entertainDescWrap {
			.attention {
				margin-top: 145px;
			}
		}
	}
	.entertainDescWrap {
		@include posAbsoluteLT(50px, 20px, 340px, auto);
		button {
			margin-top: 4px;
		}
		.attention {
			margin-top: 23px;
			padding-top: 23px;
		}
	}
}

/**** slick-theme custom ****/
.entertainSlide {
	.slick-prev {
		margin-left: -496px;
		background: url(../img/entertain_slick_prev.png) no-repeat 50% 50%;
	}
	.slick-next {
		margin-left: 497px;
		background: url(../img/entertain_slick_next.png) no-repeat 50% 50%;
	}
	.slick-dots {
		bottom: -43px;
		li {
			button {
				width: 49px;
				height: 28px;
				background: transparent;
				&:before {
					width: 49px;
					height: 28px;
					border-radius: 0;
					background: url('../img/entertain_slick_dots.png') no-repeat center center;
					box-sizing: border-box;
				}
			}
			&.slick-active {
				button {
					&:before {
						background: url('../img/entertain_slick_dots_active.png') no-repeat center center;
					}
				}
			}
		}
	}
}