@charset "utf-8";
/* ================================== halloweenGood ================================== */
#halloweenGood {
	.mdShopWrap {
		position: relative;
		width: 986px;
		margin: 0 auto;
		margin-top: 55px;
		text-align: center;
		.goodList {
			position: relative;
			width: 981px;
			margin: 0 auto;
			@include clearfix;
			li {
				position: relative;
				float: left;
				width: 240px;
				height: 330px;
				margin-left: 7px;
				&:first-child {
					margin-left: 0;
				}
				&:nth-child(odd) {
					margin-top: 30px;
				}
				&.good1 {
					background: url('../img/halgood_photo1.png') no-repeat left top;
				}
				&.good2 {
					background: url('../img/halgood_photo2.png') no-repeat left top;
				}
				&.good3 {
					background: url('../img/halgood_photo3.png') no-repeat left top;
				}
				&.good4 {
					background: url('../img/halgood_photo4.png') no-repeat left top;
				}
				p {
					@include posAbsoluteLB(28px, 28px, auto, auto);
					text-align: left;
					line-height: 1.2;
					.goodName {
						display: block;
						color: #efc34c;
						font-size: 16px;
					}
					.goodPrice {
						display: block;
						color: #fff1ef;
						font-size: 22px;
						strong {
							font-size: 36px;
							font-weight: 300;
						}
					}
				}
			}
		}
		.moveBtn {
			display: block;
			width: 250px;
			margin: 30px auto 0;
		}
	}
}