@charset "utf-8";
/* ================================== horrorRide ================================== */
#horrorRide {
	.rideDescWrap {
		@include posAbsoluteLT(50%, 0, 320px, auto);
		margin-left: 337px;
		@include translate(-50%, 0);
		z-index: 9;
		button {
			margin-top: 4px;
		}
		.descList {
			dd {
				.partner {
					display: block;
					margin-top: 12px;
				}
			}
		}
	} 
	.rideWrap {
		position: relative;
		height: 430px;
		&.texpress {
			margin-bottom: 36px;
			background: url('../img/horride_texpress.png') no-repeat center bottom;
			.rideSlogan {
				@include posAbsoluteLB(50%, 29px, 385px, 79px);
				margin-left: 413px;
				@include translate(-50%, 0);
				background: url('../img/horride_texpress_slogan.png') no-repeat left top;
			}
			.rideDescWrap {
				top: 82px;
			}
		}
		&.amazon {
			margin-bottom: 55px;
			background: url('../img/horride_amazon.png') no-repeat center bottom;
			.rideSlogan {
				@include posAbsoluteLB(50%, 48px, 433px, 102px);
				margin-left: -174px;
				@include translate(-50%, 0);
				background: url('../img/horride_amazon_slogan.png') no-repeat left top;
			}
			.rideDescWrap {
				top: 80px;
			}
		}
		&.maze {
			margin-bottom: 41px;
			background: url('../img/horride_maze.png') no-repeat center bottom;
			.rideSlogan {
				@include posAbsoluteLT(50%, 92px, 291px, 79px);
				margin-left: 52px;
				@include translate(-50%, 0);
				background: url('../img/horride_maze_slogan.png') no-repeat left top;
			}
			.rideDescWrap {
				top: 45px;
			}
		}
		&.safari {
			background: url('../img/horride_safari.png') no-repeat center bottom;
			.rideSlogan {
				@include posAbsoluteLT(50%, 98px, 353px, 79px);
				margin-left: -55px;
				@include translate(-50%, 0);
				background: url('../img/horride_safari_slogan.png') no-repeat left top;
			}
			.rideDescWrap {
				top: 58px;
			}
		}
		&:nth-child(2n+1) {
			.rideDescWrap {
				margin-left: -292px;
			} 
		}
	}
	.spark {
		@include posAbsoluteLT(50%, 540px, 480px, 520px);
		margin-left: 560px;
		@include translate(-50%, 0);
		background: url('../img/horride_spark.png') no-repeat center center;
		z-index: 1;
	}
}

#horrorRridePopup12 {
	.guideBox {
		height: 472px;
	}
}
#horrorRridePopup22 {
	.guideBox {
		height: 472px;
	}
}
#horrorRridePopup32 {
	.guideBox {
		height: 410px;
	}
}
#horrorRridePopup42 {
	.guideBox {
		height: 593px;
	}
}