@charset "utf-8";
/* ================================== main ================================== */
.mainDimLeft,
.mainDimRight {
	position: fixed;
	top: 0;
	left: 50%;
	display: block;
	width: 100px;
	height: 100%;
	@include translate(-50%, 0);
	z-index: 99;
}
.mainDimLeft {
	margin-left: -750px;
	background: url('../img/main_dim_left.png') repeat-y left top;
}
.mainDimRight {
	margin-left: 750px;
	background: url('../img/main_dim_right.png') repeat-y right top;
}
.mainVisualWrap {
	position: relative;
	width: 100%;
	height: 900px;
	.mainTitleWrap {
		@include posAbsoluteLT(50%, 0, 780px, 375px);
		margin-left: 60px;
		@include translate(-50%, 0);
		opacity: 1;
		.mainTitle {
			@include posAbsoluteLB(140px, 45px, 390px, 250px);
			background: url('../img/main_title.png') no-repeat center center;
			z-index: 1;
		}
		.titleI {
			@include posAbsoluteLB(220px, 45px, 60px, 110px);
			background: url('../img/main_title_i.png') no-repeat center center;
			z-index: 2;
		}
		.subTitle {
			@include posAbsoluteRT(80px, 0, 215px, 255px);
			background: url('../img/main_subtitle.png') no-repeat center center;
			z-index: 2;
		}
		.titleSpark {
			@include posAbsoluteLT(0, 0, 780px, 375px);
			background: url('../img/main_title_spark.png') no-repeat center center;
			z-index: 3;
		}
	}
	.mainZombieLeft {
		@include posAbsoluteLB(50%, 25px, 555px, 540px);
		margin-left: -522px;
		@include translate(-50%, 0);
		background: url('../img/main_zombie_left.png') no-repeat center center;
		z-index: 1;
	}
	.mainZombieRight {
		@include posAbsoluteLB(50%, 55px, 460px, 350px);
		margin-left: 570px;
		@include translate(-50%, 0);
		background: url('../img/main_zombie_right.png') no-repeat center center;
		z-index: 1;
	}
	.mainPoliceLine {
		@include posAbsoluteLB(50%, 10px, 100%, 160px);
		@include translate(-50%, 0);
		background: url('../img/main_police_line.png') no-repeat center center;
		background-size: cover;
		z-index: 2;
	}
	.mainZombieCenter1 {
		@include posAbsoluteLB(50%, 21px, 390px, 560px);
		margin-left: 202px;
		@include translate(-50%, 0);
		background: url('../img/main_zombie_center1.png') no-repeat center center;
		z-index: 8;
	}
	.mainZombieCenter2 {
		@include posAbsoluteLB(50%, 0, 430px, 580px);
		margin-left: -105px;
		@include translate(-50%, 0);
		background: url('../img/main_zombie_center2.png') no-repeat center center;
		z-index: 9;
		.mainPeriod {
			@include posAbsoluteLT(-115px, -18px, 165px, 66px);
			background: url('../img/main_period.png') no-repeat center center;
			z-index: 10;
		}
	}
	.mainSmoke {
		@include posAbsoluteLB(50%, 0, 100%, 440px);
		@include translate(-50%, 0);
		background: url('../img/main_smoke.png') no-repeat center center;
		background-size: cover;
		z-index: 5;
	}
	.mainWire {
		@include posAbsoluteLB(50%, -40px, 100%, 170px);
		@include translate(-50%, 0);
		background: url('../img/main_wire.png') no-repeat center center;
		background-size: cover;
		z-index: 6;
	}
	.mainCurtain {
		@include posAbsoluteLB(50%, 0, 100%, 900px);
		@include translate(-50%, 0);
		background: url('../img/main_curtain.png') no-repeat center center;
		background-size: cover;
		z-index: 7;
	}
}
.VideoWrap {
	position: absolute;
	top: 708px;
	left: 50%;
	display: block;
	width: 672px;
	@include translate(-50%, 0);
	z-index: 10;
	.VideoFrame {
		position: relative;
		width: 100%;
		height: 100%;
		padding: 16px;
		.vfHandTop {
			@include posAbsoluteLT(30px, -7px, 74px, 38px);
			background: url('../img/vf_hand_top.png') no-repeat left top;
			z-index: 15;
		}
		.vfHandLeft {
			@include posAbsoluteLT(-19px, 64px, 65px, 125px);
			background: url('../img/vf_hand_left.png') no-repeat left top;
			z-index: 15;
		}
		.fTop {
			@include VideoFrame(0, 16px, auto, 16px, auto, 16px);
			background: url('../img/f_top.png') no-repeat center top;
			background-size: 100% 16px;
			&:before {
				content: '';
				@include VideoFrame(0, auto, auto, -16px, 16px, 16px);
				background: url('../img/f_top_left.png') no-repeat left top;
			}
			&:after {
				content: '';
				@include VideoFrame(0, -16px, auto, auto, 16px, 16px);
				background: url('../img/f_top_right.png') no-repeat right top;
			}
		}
		.fRight {
			@include VideoFrame(16px, 0, 16px, auto, 16px, auto);
			background: url('../img/f_right.png') no-repeat right center;
			background-size: 16px 100%;
		}
		.fBottom {
			@include VideoFrame(auto, 16px, 0, 16px, auto, 16px);
			background: url('../img/f_bottom.png') no-repeat center bottom;
			background-size: 100% 16px;
			&:before {
				content: '';
				@include VideoFrame(auto, auto, 0, -16px, 16px, 16px);
				background: url('../img/f_bottom_left.png') no-repeat left bottom;
			}
			&:after {
				content: '';
				@include VideoFrame(auto, -16px, 0, auto, 16px, 16px);
				background: url('../img/f_bottom_right.png') no-repeat right bottom;
			}
		}
		.fLeft {
			@include VideoFrame(16px, auto, 16px, 0, 16px, auto);
			background: url('../img/f_left.png') no-repeat left center;
			background-size: 16px 100%;
		}
	}
	.youtubeWrap {
		position: relative;
		width: 100%;
		padding-bottom: 56.25%; /* 16:9 */
		background: #000;
		iframe {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 11;
		}
		.youtubeLink {
			position: absolute;
			width: 100%;
			height: 100%;
			display: block;
			background: url('../img/bg_youtube_link.jpg') no-repeat left center;
			z-index: 10;
		}
	}
}
.prologWrap {
	width: 100%;
	text-align: center;
	padding-top: 224px;
	overflow: hidden;
	.paragraph {
		padding-top: 14px;
		&:first-child {
			padding-top: 0;
		}
	}
	p {
		font-size: 20px;
		font-weight: 100;
		line-height: 1.6;
		letter-spacing: -0.05em;
		color: #ededed;
		.point {
			color: #ab1c00;
		}
		img {
			margin: 0 0 -4px 3px;
			vertical-align: baseline;
		}
	}
}